凯励程订单>筛选页				OK
凯励程订单页>总览 				OK
凯励程订单页>列表项list item 	OK
非凯励程订单>筛选页			OK
非凯励程订单>列表页			OK
非凯励程订单>订单详情			OK


dev 开发
opt 运维
primary   机构
secondary 部门
corporation 集团
store 	单店
sale_assistant	驻店专员	
director 		总监
